html,body {
    margin:0;
    padding:0;
    height: 100%;
		box-sizing: border-box;

}

h1, h2, h3, h4 {
    margin:0;
    padding:0;

}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.container {
   height: auto;
   width: 100%;
   margin: 0 auto;
}

.header {
    background-color: #E87447;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 5px 10px;
}

.header--logo {
   display: flex;
   align-items: center;
   
}

.header--logo img {
   filter: invert(1);
   padding: 0 10px;
   height: 35px;
   
}

.header--menu li {
   text-align: center;
   list-style: none;
   display: flex;
   justify-content: space-around;
   max-width: 500px;
   width: 100%;
}

.header--menu li  ul:hover{
    text-decoration: underline;
    cursor: pointer;
  
}

.section {
    height: auto;
    padding: 25px;
	margin-top: 05px;
}

.section > h3 {
   color: #E87447;
   font-size: 25px;
   margin-bottom: 15px;
}

.products--display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 250px;
    height: 350px;
    border: 1px solid white;
    margin: 8px 10px;
}

.card--shadow {
    box-shadow: 3px 7px 13px -1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 3px 7px 13px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 3px 7px 13px -1px rgba(0,0,0,0.7);
}

.card--img img{
   width: 100%;
   height: auto; 
   max-height: 160px;

}

.card--content {
    padding: 5px;
}

.card--content p {
    text-align: center;
    font-weight: bold;
}

.banner {
    background-color: #E87447;
	margin: 22px 0;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.price {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    font-weight: 700;
}
.normal-price {
    color: #c7330e;
    text-decoration: line-through;
}

.discount-price {
    color: rgb(32, 116, 57);
}

.banner > h1 {
	color: white;
	font-size: 55px;
	text-align: center;
	margin-right: 50px;
}

.banner img{
	height: auto; 
	max-height: 70px;
	transform: rotate(90deg) ;
	filter: invert(1);

}
.section--newsletter {
    background-color: red;
    display: flex;
    flex-direction: column;
    background-color:#E87447;
    color: #FFFFFF
}

.newsletter--form {
    display: flex;
    height: auto;
    max-width: 450px;
    width: 100%;
    justify-content: center;
    align-self: center;
    margin: 10px;
}

.newsletter--form > form {
    border: 1px solid #FFFFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    height: auto;

}

.form label, button, input {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.form button {
    border-radius: 15px;
    max-width: 115px;
    width: 100%;
    align-self: center;
    border: 1px solid #FFFFFF;
    background: #E87447;
    color: #FFFFFF;
    min-height: 35px;
} 

.form button:hover {
    background: #FFFFFF;
    color:#E87447 ;
}

@media (max-width: 450px) {
    .header--logo span {
        display: none;
    }
    .header--menu li  ul{
       /* font-size: 21px; */
       font-weight: bold;
     
   }
   .banner > h1{
       font-size: 25px;
   }
   .banner img{
	    max-height: 50px;

    }
}